* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

#informacoes {
    background-color: rgb(221, 221, 221);
    margin: 0%;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    padding-top: 50px;;
}
    
.nome {
    position: fixed;
    top: 0;
    text-align: center;
    color: rgb(61, 61, 61);
    background-color: rgb(187, 187, 187);
    border-bottom-right-radius: 20px;
    padding: 5px;
    margin: 0px;
    border: 1px solid rgb(141, 141, 141);
    font-size: 40px;
}

.foto {
    margin-left: 5px;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid rgb(61, 61, 61);
}

.info {
    text-align:justify;
    margin: 10px;
    size: 110;
    width: 50vh;
}

.titulo {
    border: 1px solid rgb(119, 119, 119);
    color: rgb(61, 61, 61);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 10px;
    background-color: rgb(168, 168, 168);
    width: 400px;
}

.contato {
    color: rgb(97, 97, 97);
    text-decoration: none;
    font-style: italic;
    padding: 2px;
}

.contato:hover {
    background-color: rgb(46, 46, 46);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
}

.caracteristica {
    color: rgb(63, 63, 63);
    background-color: rgb(197, 197, 197);
    border-radius: 5px;
    padding: 2px;
}

.descricao {
    text-decoration: underline;
}

.texto {    
    color: rgb(63, 63, 63);
}

p {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: justify;
}

ul {
    list-style-type: none;
}

ul li::before {
    content: '»';
    font-weight: bold;
    color: rgb(138, 0, 0);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-bottom: 10px;
}